.badge-primary {
  background-color: #337AB7 !important;
}

.badge-danger {
  background-color: #D9534F !important;
}

.badge-warning {
  background-color: #F0AD4E !important;
}

.badge-success {
  background-color: #5CB85C !important;
}

.badge-info {
  background-color: #5BC0DE !important;
}
