<ul class="nav navbar-nav navbar-right p-r-1">
  <li>
    <a target="_blank" rel="noopener">
      <i class="fa  fa-question-circle fa-fw" aria-hidden="true"></i>
      Help
    </a>
  </li>
  <li uib-dropdown>
    <a href role="button" uib-dropdown-toggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      John
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu>
      <li><a ui-sref="main.profile">
        Profile</a></li>
      <li role="separator" class="divider"></li>
      <li><a ui-sref="login">
        Logout</a></li>
    </ul>
  </li>
</ul>
