<div>
  <div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div ng-form="form">
          <form class="form-horizontal" novalidate name="modal.form">
            <div class="form-group"
                 ng-class="{'has-error': modal.form.oldPassword.$invalid && modal.form.oldPassword.$dirty}">
              <label for="oldPassword" class="col-sm-4 control-label">Old Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" autofocus
                       name="oldPassword" id="oldPassword" placeholder="Old Password"
                       ng-model="modal.oldPassword" required
                       ng-change="modal.checkPassword()"
                       ng-keyup="modal.form.$valid && $event.keyCode == 13 && modal.save()">
                <div ng-messages="modal.form.oldPassword.$error" role="alert" class=" text-danger"
                     ng-if="modal.form.oldPassword.$dirty">
                  <div ng-message="required">Old password is required</div>
                </div>
              </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': modal.form.newPassword.$invalid && modal.form.newPassword.$dirty}">
              <label for="newPassword" class="col-sm-4 control-label">New Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control"
                       name="newPassword" id="newPassword" placeholder="New Password"
                       ng-model="modal.newPassword" required
                       ng-minlength="6"
                       ng-change="modal.checkPassword()"
                       ng-keyup="modal.form.$valid && $event.keyCode == 13 && modal.save()">
                <div ng-messages="modal.form.newPassword.$error" role="alert" class=" text-danger"
                     ng-if="modal.form.newPassword.$dirty">
                  <div ng-message="required">New password is required</div>
                  <div ng-message="minlength">New password is too short</div>
                  <div ng-message="different">
                    New password should not be same as the old one
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" ng-if="modal.newPassword && !modal.form.newPassword.$invalid">
              <div class="col-sm-8 col-sm-offset-4">
                <ss-pwd-strength password="modal.newPassword"></ss-pwd-strength>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': modal.form.confirmPassword.$invalid && modal.form.confirmPassword.$dirty}">
              <label for="confirmPassword" class="col-sm-4 control-label">Confirm
                Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control"
                       name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                       ng-model="modal.confirmPassword" required
                       ng-minlength="6"
                       ng-change="modal.checkPassword()"
                       ng-keyup="modal.form.$valid && $event.keyCode == 13 && modal.save()">
                <div ng-messages="modal.form.confirmPassword.$error" role="alert" class=" text-danger"
                     ng-if="modal.form.confirmPassword.$dirty">
                  <div ng-message="required">Confirm password is required</div>
                  <div ng-message="min">Confirm password is too short</div>
                  <div ng-message="match">
                    Confirm password does not match the new password
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.save()" ng-disabled="modal.form.$invalid">Save</button>
    <button class="btn btn-default" ng-click="modal.close()">Cancel</button>
  </div>
</div>
